<div class="client-count-wrp mt-100 ">
    <div class="container">
        <div class="client-count-wrp-inner">
            <div class="cards">
                <h4>{{projectcount + "+"}}</h4>
                <p>Project Completed</p>
            </div>
            <!--card-->
            <div class="cards">
                <h4>{{accuratecount + "+"}}</h4>
                <!--concat % sign-->
                <p>Accuracy</p>
            </div>
            <!--card-->
            <div class="cards">
                <h4>{{clientcount}}</h4>
                <p>Clients</p>
            </div>
            <!--card-->
           
            <!--card-->
        </div>
    </div>

</div>