<div class="app-wrapper">
  <div class="about">
    <div class="about-us-heading">
      <a routerLink="/">Home <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-home" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
        
      </span> </a> <span>About Us</span>

      <h1>About Us</h1>
      <p>
        We can help you develop and execute a clear and strategic IT roadmap with
        priorities that are closely linked to business goals.
      </p>
    </div>

    <div class="about-sub-sec">
      <h2>Our Mission Is To Deliver A High-Quality Service That Exceeds Client's Expectations</h2>

      <p>
        Qubit Cube Solutions is a leading provider of industry-specific software solutions based in Dubai – United Arab Emirates. We offer tailored innovative software solutions using Node Js, IOs, Artificial Intelligence, Machine Learning, Blockchain, Cloud & DevOps, IoT, Cybersecurity, Extended Reality, and Experience Design.
      </p>
    </div>

    <section class="skill-container">
      <div class="skill-section">
        <div
          class="skill-section-elem"
          *ngFor="let skill of skills"
          [style.background]="
            'conic-gradient(#ed4164 ' + skill.filledPercentage + '%, #ddd 0%)'
          "
        >
          <div class="skill-text">
            <p>{{ skill.filledPercentage }}%</p>
            <p class="skill-name">{{ skill.name }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="team-container">
      <div class="team-section">
        <div class="team-section-elem">
          <h2>A Leader Must Inspire Or His Team Will Expire!</h2>
          <p>
            We strive to understand the challenges that the industry is facing today and use our strong business acumen to find exclusive and unprecedented solutions for them. Our mission is to bring good quality embedded in the innovative techniques that are designed by our Builtinsoft-experts. Our presence of more than a decade in the industry and our services to a portfolio of great clients set us apart. We believe in customization that caters to your business needs. With the primary goal of serving the planet, we optimize the use of technology integrated with human potential.
          </p>

          <button id="abt-btn">ABOUT MORE</button>
        </div>
        <div class="team-section-elem">
          <img class="about-img" src="../../../assets/group.jpg" alt="" />
        </div>
      </div>
    </section>

    <section class="team-container">

      <div class="team-section">
        <div class="team-element">
          <h2>Teamwork Makes The Dream Work!</h2>
          <p class="team-element-p">
            Technology is subservient to human potential. The human mind is a great creation, twisted and perverse yet paving the way to concrete advancements. By integrating human potential into technological tools.
          </p>
        </div>

        <div class="team-element">


          <section class="bars-container"*ngFor="let bar of bars" >
           
            <p class="bar-label">{{ bar.label }}</p>
            <div class="bar" >
              <div class="bar-fill" [style.width.%]="bar.filledPercentage">
                <p class="bar-text">{{ bar.label }} - {{ bar.filledPercentage }}%</p>
              </div>
            </div>
          </section>

        </div>

      </div>
    </section>

  </div>
</div>
