<main class="service-page">

    <section class="service-page-wrapper">

<section class="service-page-heading">
    <div class="service-heading">
      <a routerLink="/">Home <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-home" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </span> </a> 
      <span>Services</span>
  
      <h1>Services</h1>
      <p>
        We can help you develop and execute a clear and strategic IT roadmap with priorities that are closely linked to business goals.
      </p>
    </div>
  </section>
  
  <div class="client-count-wrp mt-100">
    <div class="container">
      <div class="client-count-wrp-inner">
        <div class="cards">
          <h4>{{ projectcount + "+" }}</h4>
          <p>Project Completed</p>
        </div>
        <!--card-->
        <div class="cards">
          <h4>{{ accuratecount + "+" }}</h4>
          <p>Accuracy</p>
        </div>
        <!--card-->
        <div class="cards">
          <h4>{{ clientcount + "+"}}</h4>
          <p>Clients</p>
        </div>
        <!--card-->
      </div>
    </div>
  </div>
  
  <h1 id="sub-heading">Our Services</h1>


<section class="main-service-page-sec">

  <div class="company-services
  ">
    <div class="company-services-box">
        <div class="box-content-area">
            <img class="service-img" src="../../../assets/services/ball-letter-w-font-red-3d-ball-alphabet_494952-6021.jpg" alt="">
            <h2>Web Design</h2>
            <p>Our web developers offer professional web application development and design services to our customers. Appnovation offers a wide range of web design and development services, from developing mobile-friendly</p>

            <p class="learn-btn">Learn more</p>
        </div>

    </div>
    <div class="company-services-box">

        <div class="box-content-area">
            <img class="service-img" src="../../../assets/services/app-dev.jpg" alt="">
            <h2>APP Development</h2>
            <p>Our web developers offer professional web application development and design services to our customers. Appnovation offers a wide range of web design and development services, from developing mobile-friendly</p>

            <p class="learn-btn">Learn more</p>
        </div>

    </div>
    <div class="company-services-box">
      <div class="box-content-area">
        <img class="service-img" src="../../../assets/services/qa.jpg" alt="">
        <h2>QA</h2>
        <p>Our web developers offer professional web application development and design services to our customers. Appnovation offers a wide range of web design and development services, from developing mobile-friendly</p>

        <p class="learn-btn">Learn more</p>
    </div>
    </div>
    <div class="company-services-box">
      <div class="box-content-area">
        <img class="service-img" src="../../../assets/services/dm.png" alt="">
        <h2>Digital Marketing</h2>
        <p>Our web developers offer professional web application development and design services to our customers. Appnovation offers a wide range of web design and development services, from developing mobile-friendly</p>

        <p class="learn-btn">Learn more</p>
    </div>
    </div>
    <div class="company-services-box">
      <div class="box-content-area">
        <img class="service-img" src="../../../assets/services/seo.png" alt="">
        <h2>SEO</h2>
        <p>Our web developers offer professional web application development and design services to our customers. Appnovation offers a wide range of web design and development services, from developing mobile-friendly</p>

        <p class="learn-btn">Learn more</p>
    </div>
    </div>
    <div class="company-services-box">
      <div class="box-content-area">
        <img class="service-img" src="../../../assets/services/ball-letter-w-font-red-3d-ball-alphabet_494952-6021.jpg" alt="">
        <h2>Desktop development</h2>
        <p>Our web developers offer professional web application development and design services to our customers. Appnovation offers a wide range of web design and development services, from developing mobile-friendly</p>

        <p class="learn-btn">Learn more</p>
    </div>
    </div>
    <div class="company-services-box">
      <div class="box-content-area">
        <img class="service-img" src="../../../assets/services/ecommerce.jpg" alt="">
        <h2>E-commerce solutions</h2>
        <p>Our web developers offer professional web application development and design services to our customers. Appnovation offers a wide range of web design and development services, from developing mobile-friendly</p>

        <p class="learn-btn">Learn more</p>
    </div>
    </div>
    <div class="company-services-box">
      <div class="box-content-area">
        <img class="service-img" src="../../../assets/services/ball-letter-w-font-red-3d-ball-alphabet_494952-6021.jpg" alt="">
        <h2>Rendering UI/UX</h2>
        <p>Our web developers offer professional web application development and design services to our customers. Appnovation offers a wide range of web design and development services, from developing mobile-friendly</p>

        <p class="learn-btn">Learn more</p>
    </div>
    </div>
  </div>

</section>

<section class="team-sec">
  
    <div class="team-sec-elem">
      <div class="team-details">
      <h5>WHAT WE DO

      </h5>
      <h1>Supercharge your <br> business <br> development</h1>

      <p class="team-details-txt">Spend less time writing a plan and more time building your business. We help you with the tools you need to communicate your idea.</p>
  
      <ul class="team-goals-list">
        <li class="team-goals-list-item">
          <span class="tick-icon">
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-check" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                <path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" fill="black"></path>
            </svg>
        </span>
        
        A marketing department promotes your business.</li>
        <li class="team-goals-list-item">
          <span class="tick-icon">
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-check" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                <path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" fill="black"></path>
            </svg>
        </span>
  
  
          Promotional advertising speaciality for your business.</li>
        <li class="team-goals-list-item">
          <span class="tick-icon">
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-check" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                <path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" fill="black"></path>
            </svg>
        </span>
          Having a home based business is wonderful.</li>
  
      </ul>
      
    </div>
    </div>
  
    <div class="team-sec-elem">

        <div class="image-container">
      <img class="we-img service-1" src="../../../assets/services/services-1.webp" alt="">
      <img *ngIf="showSecondImage" class="we-img service-2" src="../../../assets/services/services-2.webp" alt="">
        </div>

    </div>
  
  </section>

  <section class="social-media-sec">
    <div class="social-media-sec-elem">

      <div class="social-image-container">
        <img class="social-we-img service-3" src="../../../assets/services/services-2-1.webp" alt="">
        <img *ngIf="showSecondImage" class="social-we-img service-4" src="../../../assets/services/About-Us-Image-2.webp" alt="">
          </div>

    </div>
    
    <div class="social-media-sec-elem">
      <div class="social-media-sec-elem-txt">
      <h4>WHAT WE DO</h4>

      <h1>Lead Generation for Social Media and Viral Marketing</h1>

      <p>Empower your brand with our expert lead generation strategies, optimized for social media platforms. Harness the power of viral marketing to drive engagement, expand your reach, and convert audiences into loyal customers.”</p>

    </div>

    </div>
  </section>

</section>

</main>